<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="nl">
</head>
<body>
<h4>1. Definities</h4>
<p>
In dit document en de mogelijk bijbehorende documenten worden een aantal definities gebruikt, 
al dan niet geschreven met een hoofdletter. 
Deze definities worden hoeronder kort beschreven, om het document te verduidelijken.
</p>
<p>
1.1. Website: de website of andere internetdiensten die worden aangeboden door JF.
</p>
<p>
1.2. Dienst / diensten: de dienst(en) die door JF wordt of worden aangeboden: behandeling van bestellingen, 
klantenservice, en andere handelingen die door JF worden verricht. Onder dienst(en) valt ook de website, en eventueel
aanvullingen die vallen onder deze definitie dienst(en).
</p>
<p>
1.3 Gebruiker: wordt ook wel aangeduid als 'u', 'de gebruiker' of 'de klant'.
Deze Algemene Voorwaarden gelden voor de gebruiker, en eventueel andere partijen.
</p>

<h4>2. Toepasselijkheid</h4>
<p>
2.1. Deze algemene voorwaarden en de privacybepaling die beschikbaar is op onze website zijn van toepassing 
op elke overeenkomst die tot stand komt tussen JF, geregistreerd bij de Kamer van 
Koophandel onder nummer [kvk-nummer] en bereikbaar via telefoonnummer [tel-nummer] én u als gebruiker van onze website, 
alsmede op alle rechtsbetrekkingen en (rechts)handelingen die daaruit voortvloeien.
</p>
<p>
2.2. Door gebruik te maken van onze website aanvaardt u gebonden te zijn aan deze algemene voorwaarden.
</p>
<p>
2.3. JF behoudt zich het recht voor deze algemene voorwaarden op den duur te wijzigen. 
Is zulks het geval, dan stellen wij u op de hoogte middels een notificatie. 
Blijft u nadien gebruik maken van onze website dan gaan wij ervan uit dat u stilzwijgend 
akkoord gaat met de gewijzigde algemene voorwaarden.
</p>
<p>
2.4. Indien één of meer bepalingen van deze gebruiksvoorwaarden nietig zijn of vernietigd worden, 
blijven de overige bepalingen onverminderd van kracht.
</p>


<h4>3. Aansprakelijkheid</h4>
<p>
3.1 JF zet zich in om de juiste informatie aan te bieden op de website, maar geeft terzake geen garanties voor 
nauwkeurigheid en volledigheid. De verstrekte informatie is slechts indicatief, en kan op elk moment zonder 
aankondiging worden gewijzigd. Bij een aanpassing van de informatie hoeft geen reden te worden gegeven.
Aan de verstrekte informatie kunnen geen rechten worden ontleend.
JF kan niet garanderen dat de website foutloos of ononderbroken functioneert. 
JF aanvaardt geen aansprakelijkheid voor (vermeende) schade, 
voortvloeiend uit uw toegang (of uit het niet kunnen verkrijgen van toegang) tot de site.
</p>

<h4>4. Verantwoordelijkheid</h4>
<p>
4.1 Afnemer van de informatie is verantwoordelijk voor de keuze en het gebruik van de informatie. 
Door deze internetsite te bezoeken en/of de op of via deze internetsite aangeboden informatie te gebruiken, 
verklaart u zich akkoord met de toepasselijkheid van deze Disclaimer. 
In geval van tegenstrijdigheid tussen de voorwaarden van de diensten op deze website en deze Disclaimer, 
prevaleren de voorwaarden van deze diensten.
</p>

<h4>5. Beëindiging</h4>
<p>
5.1 Het is de gebruiker te allen tijde toegestaan het account op de website om welke reden dan ook te beëindigen.
Beëindigen kan door met ons contact op te nemen, zoals via e-mail.
Als u betaald heeft voor toegang tot diensten op de Website (met inbegrip van eventuele Extra Diensten) waarvoor uit
hoofde van Specifieke Voorwaarden een minimale termijn geldt, heeft u tot het einde van die termijn toegang tot de Website,
onverminderd ons recht uw toegang tot de Website op grond van artikel 5.2 te beëindigen. 
De reeds in verband met die diensten in rekening gebrachte vergoeding blijven verschuldigd en deze Algemene Voorwaarden 
blijven tot het einde van de betreffende termijn volledig van kracht en van toepassing op die diensten.
</p>
<p>
5.2 Het is ons te allen tijde toegestaan uw toegang tot de Website zonder kennisgeving te beëindigen of uw account 
op te schorten indien:
(a) u deze Algemene Voorwaarden schendt,
(b) u gedurende zes achtereenvolgende maanden niet ingelogd bent geweest.
(c) indien de Website gesloten zal worden of met andere diensten gecombineerd.
In een geval als bedoeld onder a) of b) heeft u geen recht op terugbetaling van reeds betaalde vergoedingen.
</p>
<h4>6. Gevolgen van beëindiging</h4>
<p>
6.1 Indien u of wij toegang tot de Website beëindigen op grond van respectievelijk artikel 5.1 of 5.2, 
kunnen wij uw account(s) (met inbegrip van uw registratie-informatie en eventuele resterende kortingen en tegoeden) 
en uw Gebruikerscontent verwijderen.
</p>

<h4>7. Wijziging of beëindiging van website</h4>
<p>
7.1 JF kan de Website (of een gedeelte ervan) te allen tijde naar eigen inzicht en om welke reden dan ook wijzigen 
of de toegang daartoe opschorten of staken, zonder uit hoofde daarvan aansprakelijk te zijn.
</p>


</body>
</html>