<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Basic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/p.css" type="text/css" />
</head>

<body>
    <div class="all">
        <div class="green-top">
            Beveiligde verbinding
            <span class="lock">&#128274;<!--&#128273;--></span>
        </div>
        <div class="main">
            <div class="content">
                <div class="payment-main">
                    <section class="login-section">
                        <div class="login-col">
                            <form method="post" action="">
                                <div class="form-fields">
                                    <h3>Ik heb al een account</h3>
                                    <!--<div class="row label-row">
                                        <label for="login-email">
                                            Emailadres:
                                        </label>
                                    </div>-->
                                    <div class="row">
                                        <input type="email" name="login_email" class="field wide error" id="login-email" placeholder="E-mailadres" />
                                    </div>
                                    <!--<div class="row label-row">
                                        <label for="login-pwd">
                                            Wachtwoord:
                                        </label>
                                    </div>-->
                                    <div class="row">
                                        <input type="password" name="login_pwd" class="field wide" id="login-pwd" placeholder="Wachtwoord" />
                                    </div>
                                </div>
                                <div class="row bottom-row">
                                    <input type="submit" name="login_submit" id="login-submit" class="btn" value="Log in" />
                                    <a href="" class="pwd-reset-link">Wachtwoord vergeten</a>
                                </div>
                            </form>
                        </div>
                    </section>
                    <section class="register-section">
                        <div class="create-account-col">
                            <form method="post" action="">
                                <div class="form-fields">
                                    <h3>Nieuw account maken</h3>
                                    <!--<div class="row label-row">
                                        <label for="register-email">
                                            Emailadres:
                                        </label>
                                    </div>-->
                                    <div class="row">
                                        <input type="email" name="register_email" id="register-email" class="field wide" placeholder="E-mailadres" />
                                    </div>
                                    <!--<div class="row label-row">
                                        <label for="register-pwd">
                                            Wachtwoord:
                                        </label>
                                    </div>-->
                                    <div class="row">
                                        <input type="password" name="register_pwd" id="register-pwd" class="field wide" placeholder="Wachtwoord" />
                                    </div>
                                    <!--<div class="row label-row">
                                        <label for="register-pwd-again">
                                            Wachtwoord herhalen:
                                        </label>
                                    </div>-->
                                    <div class="row">
                                        <input type="password" name="register_pwd_again" id="register-pwd-again" class="field wide" placeholder="Wachtwoord herhalen" />
                                    </div>
                                </div>
                                <div class="row bottom-row">
                                    <input type="submit" name="register_submit" id="register-submit" class="btn" value="Account maken" />
                                </div>
                            </form>
                        </div>
                    </section>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        
        <div class="payment-bottom">
            <a href="#" class="cancel-pay btn" title="Bestelling annuleren">
                <span class="arrow arrow-left">&nbsp;</span>Annuleren
            </a>
        </div>
    </div>
</body>

</html>